
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}
.rounded-top{
    border-radius: 7px 7px 0 0;
}
.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #121212; /* Dark background */
    border-radius: 10px; /* Rounded track */
}

::-webkit-scrollbar-thumb {
    background: #4D4D4D; /* Grey thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6B6B6B; /* Lighter grey on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4D4D4D #121212;
}
